.sidebar {
  width: 500px;
  background-color: violet;
}

.mynick {
  border-bottom: 1px solid black;
}

.mynick > img {
  width: 50px;
  border: 1px solid tomato;
  border-radius: 25px;
}

.othernick > img {
  width: 50px;
  border: 1px solid tomato;
  border-radius: 25px;
}
